* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
}
body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f3f2;
}
.box-container {
  background-color: black;
  width: 500px;
  padding: 30px;
  border-radius: 30px;
}

.input-cidade {
  font-size: 27px;
}
.botao-header {
  font-size: 20px;
  background: #f4f3f2;
  cursor: pointer;
  border-radius: 40px;
}
.botao-header:hover {
  background-color: #aaa9a9;
  transform: scale(1.1);
}
.botao {
  width: 40px;
  height: 40px;
  padding: 8px;
  background: #f4f3f2;
  cursor: pointer;
  border-radius: 40px;
}

.botao:hover {
  background-color: #aaa9a9;
  transform: scale(1.1);
}

.icone-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.box-pesquisa {
  margin-top: 20px;
}
.cidade {
  color: #f4f3f2;
  font-size: 26px;
  margin-top: 10px;
}

.temperatura {
  color: #f4f3f2;
  font-size: 22px;
  margin-top: 10px;
}

.temperaturaMinima {
  color: #f4f3f2;
  font-size: 22px;
  margin-top: 10px;
}

.umidade {
  color: #f4f3f2;
  font-size: 22px;
  margin-top: 10px;
}

.iconeBox {
  margin-top: 10px;
}
